@tailwind base;
@tailwind components;
@tailwind utilities;

.navMenu.active {
  @apply text-primary-blue-400 border-b-2 border-primary-blue-400 pb-2;
 
}
/* ====================  ANIMATIONS ==================== */

/*  animation slide-left */
.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  animation: slide-left 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
}

