@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  @apply bg-primary-blue-800;
  border-radius: 0.5rem;
}

/* ACTIVE MENU */
.navMenu.active {
  @apply text-primary-blue-400 border-b-2 border-primary-blue-400 pb-2;
}
/* ACTIVE TAB IN BLOG DETAILS*/
.blogTab.active {
  @apply bg-primary-blue-400 text-secondary-white;
}
.activeImg{
  @apply border-2 border-primary-blue-400;
}
/* Shadows */
.cardShadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cardShadow2 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.cardShadow3 {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* ====================  ANIMATIONS ==================== */

/*  animation slide-left */
.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  animation: slide-left 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
}

/* ==================== CSS FOR SLIDERS ================================== */
/*  SLIDER CARDS HOVER */
.cardHoverBody {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  @apply rounded-lg;
  background: rgba(149, 157, 165, 0.549);
  backdrop-filter: blur(3px);
  padding: 2rem 1rem;
  color: #fefefe;
}

.cardHover:hover .cardBottom {
  display: none;
}
.cardHover:hover .cardHoverBody {
  right: 0;
  z-index: 10000;
}

.item {
  min-height: 26rem;
  min-width: 22rem;
  padding: 1rem;
  border-radius: 1rem;
}
.item2 {
  min-height: 20rem;
  min-width: 22rem;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 1rem;
}
.inner-carousel {
  display: flex;
  flex-direction: row;
}
.carousel {
  overflow: hidden;
  cursor: grab;
}
.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper.projectSlider .swiper-slide {
  margin-bottom: 6rem;
  width: 16rem !important;
  height: 22rem !important;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.mySwiper.projectSlider .swiper-slide img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-radius: 1rem;
}
.mySwiper.projectSlider .swiper-slide:hover .sliderCardBottom {
  display: none;
}
.mySwiper.projectSlider .swiper-slide:hover .content {
  right: 0;
  z-index: 9999;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  @apply rounded-lg;
  background: rgba(55, 56, 57, 0.6);
  backdrop-filter: blur(1px);
  padding: 2rem 1rem;
  color: #fefefe;
}


